body {
    font-family: monospace, monospace;
    background: linear-gradient(to right, #000000, #5a5a5a);
    margin: 0;
    padding-top: 7%;
}

.container {
    align-self: center;
    width: 50%;
    margin: auto;
    padding: 150px 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 4rem;
}

.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input {
    margin: 20px 0;
    padding: 10px;
    font-size: 1rem;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff1b00;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #7cff01;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #3b3b3b;
}
.message.danger {
    color: #ff0000;
    font-weight: bold;
}