<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Temp Files</h1>
        <h4>One time download link at your fingertip</h4>
        <br><br><br><br><br><br><br><br><br><br><br>
        <nav>
            <a href="/send" class="nav-link">Send Files</a>
            <a href="/receive" class="nav-link">Receive Files</a>
        </nav>
    </div>
</body>
</html>
